---
layout: page
title: "Experience"
description: "Thinking will not overcome fear but action will."
header-img: "img/post-bg-rwd.jpg"
---


{% for experience in site.experience %}
<div class="post-preview">
    <a href="{{ experience.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ experience.title }}
        </h2>
        {% if experience.subtitle %}
        <h3 class="post-subtitle">
            {{ experience.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ experience.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if experience.author %}{{ experience.author }}{% else %}{{ site.title }}{% endif %} on {{ experience.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}